[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git@github.com:openembedded/meta-openembedded.git
[submodule "poky"]
	path = poky
	url = git@github.com:yoctoproject/poky.git
[submodule "meta-sunxi"]
	path = meta-sunxi
	url = git@github.com:linux-sunxi/meta-sunxi.git
[submodule "meta-rockchip"]
	path = meta-rockchip
	url = git@github.com:radxa/meta-rockchip.git
	branch = kirkstone-radxa
